.container {
  display: grid;
  max-width: 1440px;
  height: 100vh;
  grid-template-columns: 25% 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 120px 1fr 1fr;
  grid-template-areas:
      "sidebar header header header content-3"
     "sidebar header2 header2 header2 header2"
      "sidebar content-1 content-1 content-1 content-1"
    "sidebar content-1 content-1 content-1 content-1";
}

.header {
  grid-area: header;
  background-color: blue;
}
.navbar {
  grid-area: header2;
  background-color: orange;
}
.sidebar {
  grid-area: sidebar;
  background-color: green;
}
.card-container{
  grid-area: content-1;
  background-color: grey;
}
.favorites {
  grid-area: content-3;
  background-color: red;
}
