.container {
  background-color: #73b4dc;
  display: grid;
  max-width: 1440px;
  height: 100vh;
  grid-template-columns: 25% 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 120px 1fr 1fr;
  grid-template-areas:
    'sidebar header header header content-3'
    'sidebar header2 header2 header2 header2'
    'sidebar content-1 content-1 content-1 content-1'
    'sidebar content-1 content-1 content-1 content-1';
}

.header {
  border: 1px black solid;
  grid-area: header;
}
.navbar {
  border: 1px black solid;
  grid-area: header2;
}
.sidebar {
  background-color: #17202b;
  color: #fce632;
  grid-area: sidebar;
}
.card-container {
  border: 1px black solid;
  grid-area: content-1;
}
.favorites {
  border: 1px black solid;
  grid-area: content-3;
}
